mixin like(count,active)
    if active!= "active"
        .like__btn
            img.like__btn-icon(src="./img/heart-not-bg.svg")
            .like__btn-count&attributes()= count
    else 
        .like__btn(class!=attributes.class= active)
            img.like__btn-icon(src="./img/heart.svg")
            .like__btn-count&attributes()= count