$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, .75);
$darkShade50: rgba(31, 32, 65, .5);
$darkShade25: rgba(31, 32, 65, .25);
$darkShade05: rgba(31, 32, 65, .05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$gradientFirst: linear-gradient(180deg, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
$gradientSecond: linear-gradient(180deg, rgba(111, 207, 151, 1), rgba(102, 210, 234, 1));
