@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding-top: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;

    .btn__praim-small-notbg {
        margin-right: 20px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-top: 13px;

    &__link {
        color: $darkShade50;

    }

    &__link.active {
        font-weight: bold;
        color: $darkShade75;
    }

    &__item {
        list-style: none;
        cursor: pointer;
        margin-left: 25px;
    }
}

.akardion {
    background-image: url(./../img/akardion.svg);
    background-repeat: no-repeat;
}

.akardion-first {
    padding-right: 20px;
    background-position: 50px 8px;
}

.akardion-second {
    padding-right: 40px;
    background-position: 90px 8px;

}

.auth {
    text-decoration: none;
    line-height: 3;
    color: $darkShade50;
}

.btn__praim {
    &-large {
        position: relative;
        display: block;
        width: 320px;
        height: 44px;
        color: white;
        background: $gradientFirst;
        text-transform: uppercase;
        border-radius: 22px;
        text-align: center;
        padding: 14px 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    &-small {
        display: block;
        width: 99px;
        height: 44px;
        color: white;
        background: $gradientFirst;
        text-transform: uppercase;
        border-radius: 22px;
        text-align: center;
        padding: 14px 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    &-small-notbg {
        color: $purple;
        background-image: url(./../img/border.png);
        background-repeat: no-repeat;
        background-position: top left;
    }

    &-small.disabled {
        opacity: .5;
    }

    &-small-notbg.disabled {
        opacity: 1;
        background-image: url(./../img/border_dis.png);
    }



}


.btn__circl {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-transform: uppercase;
    color: white;
    border: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;

    &.blue {
        background: $gradientFirst;
    }

    &.green {
        background: $gradientSecond;
    }

}


.arrow {
    width: 25px;
    padding-top: 3px;

    &__btn {
        position: absolute;
        top: 5px;
        left: 280px;
        width: 32px;
    }
}

.footer {
    &__wrap {
        display: flex;
        height: 372px;
        justify-content: space-between;
        padding-top: 105px;
       
    }

    &__logo-img {
        padding-bottom: 20px;
    }

    &__logo-text {
        color: $darkShade75;
        max-width: 260px;
    }

    &__titel {
        margin-bottom: 20px;
    }


    &__nav-item {
        list-style: none;
        padding-bottom: 20px;
    }

    &__nav-link {
        text-decoration: none;
        color: $darkShade50;

    }

}
.footer__line{
    width: 100vw;
    height: 1px;
    background-color: $darkShade25;
    
}
.footer__subscript {
    &-text {
        padding-bottom: 20px;
        color: $darkShade75;
        max-width: 260px;
    }
}

.footer__socielcopy {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 50px;
}

.copyright {
    color: $darkShade75;
}

.social {
    display: flex;

    &__link {
        height: 24px;
    }

    &__link+&__link {
        margin-left: 24px;
        height: 24px;
    }
}

.input {
    position: relative;
}

.subscript-email {
    height: 44px;
    width: 260px;
    padding: 15px;
    border: 1px solid $darkShade25;
    border-radius: 4px;

    &::placeholder {
        color: $darkShade25;
    }
}

.arrow-input {
    display: block;
    position: absolute;
    top: 12px;
    left: 235px;
}

.registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    padding: 40px 30px 30px 30px;
}
.titel-card{
    margin-bottom: 15px;
}
.registration-input,
.date {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:15px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    &::placeholder {
        color: $darkShade25;
    }

}
.birth,
.log-pass{
    margin-top: 15px;
}
.togle{
    margin-top: 5px;
    margin-bottom: 20px;
}
.enter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
} 