@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url(./../fonts/Montserrat-VariableFont_wght.ttf);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: Montserrat;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 520px);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .btn__praim-small-notbg {
  margin-right: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25px;
  margin-top: 13px;
}

.menu__link {
  color: rgba(31, 32, 65, 0.5);
}

.menu__link.active {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.menu__item {
  list-style: none;
  cursor: pointer;
  margin-left: 25px;
}

.akardion-first {
  position: relative;
  padding-right: 20px;
}

.akardion-first ._materialakardion {
  position: absolute;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.5);
  top: 4px;
  left: 65px;
}

.akardion-second {
  position: relative;
  padding-right: 20px;
}

.akardion-second ._materialakardion {
  position: absolute;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.5);
  top: 4px;
  left: 110px;
}

.auth {
  text-decoration: none;
  line-height: 3;
  color: rgba(31, 32, 65, 0.5);
}

.btn__praim-large {
  position: relative;
  display: block;
  width: 196px;
  height: 44px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  text-transform: uppercase;
  border-radius: 22px;
  text-align: center;
  padding: 14px 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.btn__praim-large-arrow {
  width: 320px;
}

.btn__praim-small {
  display: block;
  width: 99px;
  height: 44px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  text-transform: uppercase;
  border-radius: 22px;
  text-align: center;
  padding: 14px 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.btn__praim-small-notbg {
  color: #bc9cff;
  background-image: url(./../img/border.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.btn__praim-small.disabled {
  opacity: .5;
}

.btn__praim-small-notbg.disabled {
  opacity: 1;
  background-image: url(./../img/border_dis.png);
}

.btn__circl {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn__circl.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}

.btn__circl.green {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97, #66d2ea);
}

.arrow {
  width: 25px;
  padding-top: 3px;
}

.arrow__btn {
  position: absolute;
  top: 10px;
  left: 280px;
  font-size: 24px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 372px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 105px;
}

.footer__logo-img {
  padding-bottom: 20px;
}

.footer__logo-text {
  color: rgba(31, 32, 65, 0.75);
  max-width: 260px;
}

.footer__titel {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__nav-item {
  list-style: none;
  padding-bottom: 20px;
}

.footer__nav-link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}

.footer__line {
  width: 100vw;
  height: 1px;
  background-color: rgba(31, 32, 65, 0.25);
}

.footer__subscript-text {
  padding-bottom: 20px;
  color: rgba(31, 32, 65, 0.75);
  max-width: 260px;
}

.footer__socielcopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  height: 50px;
}

.copyright {
  color: rgba(31, 32, 65, 0.75);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  height: 24px;
}

.social__link + .social__link {
  margin-left: 24px;
  height: 24px;
}

.input {
  position: relative;
}

.subscript-email {
  height: 44px;
  width: 260px;
  padding: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.subscript-email::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.subscript-email:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.subscript-email::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.subscript-email::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.arrow-input {
  display: block;
  position: absolute;
  top: 11px;
  left: 230px;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 380px;
  padding: 40px 30px 30px 30px;
}

.titel-card {
  margin-bottom: 15px;
}

.text-input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.text-input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.birth,
.log-pass {
  margin-top: 15px;
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  margin-top: 5px;
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.text-toggle {
  padding-left: 20px;
  padding-top: 3px;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  min-width: 40px;
  height: 20px;
  border-radius: var(--border-radius);
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  border: 1px solid #bc9cff;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 3px;
  left: 3px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: var(--border-radius);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  -webkit-transform: translateX(var(--height));
          transform: translateX(var(--height));
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.label {
  cursor: pointer;
  display: inline-block;
  padding-right: 20px;
  margin-top: 10px;
}

.radio-input {
  display: none;
}

.text-radio {
  position: relative;
  padding-left: 30px;
  color: rgba(31, 32, 65, 0.5);
}

.text-radio::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  top: 0;
  left: 0;
}

.text-radio::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  opacity: 0;
}

.radio-input:checked + .text-radio::after {
  opacity: 1;
}

.radio-input:checked + .text-radio::before {
  border: 1px solid #bc9cff;
}

.radio-input:checked + .text-radio {
  color: rgba(31, 32, 65, 0.75);
}

.checkbox-input {
  display: none;
}

.text-checkbox {
  position: relative;
  padding-left: 30px;
  color: rgba(31, 32, 65, 0.5);
  display: block;
  max-width: 222px;
}

.text-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  top: 0;
  left: 0;
}

.text-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 8px;
  background-image: url(./../img/checkbox.svg);
  opacity: 0;
}

.checkbox-input:checked + .text-checkbox::after {
  opacity: 1;
}

.checkbox-input:checked + .text-checkbox::before {
  border: 1px solid #bc9cff;
}

.like__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.like__btn-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 5px;
}

.like__btn-count {
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 22px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
}

.like__btn.active {
  border: 1px solid #bc9cff;
  border-radius: 10px;
}

.like__btn.active .like__btn-count {
  color: #bc9cff;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

._materialstar {
  font-size: 24px;
  line-height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

._materialstar_not_bg {
  font-size: 24px;
  line-height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 358px;
  max-height: 380px;
  padding-left: 30px;
  padding-right: 30px;
}

.enter .text-input {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */