@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding-top: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;

    .btn__praim-small-notbg {
        margin-right: 20px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-top: 13px;

    &__link {
        color: $darkShade50;

    }

    &__link.active {
        font-weight: bold;
        color: $darkShade75;
    }

    &__item {
        list-style: none;
        cursor: pointer;
        margin-left: 25px;
    }
}


.akardion-first {
    position: relative;
    padding-right: 20px;
    ._materialakardion{
        position: absolute;
        font-size: 10px;
        color:$darkShade50 ;
        top: 4px;
        left: 65px;
    }
}

.akardion-second {
    position: relative;
    padding-right: 20px;
    ._materialakardion{
        position: absolute;
        font-size: 10px;
        color:$darkShade50 ;
        top: 4px;
        left: 110px;
    }
}

.auth {
    text-decoration: none;
    line-height: 3;
    color: $darkShade50;
}

.btn__praim {
    &-large {
        position: relative;
        display: block;
        width: 196px;
        height: 44px;
        color: white;
        background: $gradientFirst;
        text-transform: uppercase;
        border-radius: 22px;
        text-align: center;
        padding: 14px 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }
    &-large-arrow{
        width: 320px;
    }
    &-small {
        display: block;
        width: 99px;
        height: 44px;
        color: white;
        background: $gradientFirst;
        text-transform: uppercase;
        border-radius: 22px;
        text-align: center;
        padding: 14px 0;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    &-small-notbg {
        color: $purple;
        background-image: url(./../img/border.png);
        background-repeat: no-repeat;
        background-position: top left;
    }

    &-small.disabled {
        opacity: .5;
    }

    &-small-notbg.disabled {
        opacity: 1;
        background-image: url(./../img/border_dis.png);
    }



}


.btn__circl {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-transform: uppercase;
    color: white;
    border: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;

    &.blue {
        background: $gradientFirst;
    }

    &.green {
        background: $gradientSecond;
    }

}


.arrow {
    width: 25px;
    padding-top: 3px;
    &__btn {
        position: absolute;
        top: 10px;
        left: 280px;
        font-size: 24px;
    }
}

.footer {
    &__wrap {
        display: flex;
        height: 372px;
        justify-content: space-between;
        padding-top: 105px;
       
    }

    &__logo-img {
        padding-bottom: 20px;
    }

    &__logo-text {
        color: $darkShade75;
        max-width: 260px;
    }

    &__titel {
        margin-bottom: 20px;
        font-weight: bold;
    }


    &__nav-item {
        list-style: none;
        padding-bottom: 20px;
    }

    &__nav-link {
        text-decoration: none;
        color: $darkShade50;

    }

}
.footer__line{
    width: 100vw;
    height: 1px;
    background-color: $darkShade25;
    
}
.footer__subscript {
    &-text {
        padding-bottom: 20px;
        color: $darkShade75;
        max-width: 260px;
    }
}

.footer__socielcopy {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    height: 50px;
}

.copyright {
    color: $darkShade75;
}

.social {
    display: flex;

    &__link {
        height: 24px;
    }

    &__link+&__link {
        margin-left: 24px;
        height: 24px;
    }
}

.input {
    position: relative;
}

.subscript-email {
    height: 44px;
    width: 260px;
    padding: 15px;
    border: 1px solid $darkShade25;
    border-radius: 4px;

    &::placeholder {
        color: $darkShade25;
    }
}

.arrow-input {
    display: block;
    position: absolute;
    top: 11px;
    left: 230px;
    font-size: 22px;
    background:$gradientFirst;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registration{
    display: flex;
    background: #fff;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    padding: 40px 30px 30px 30px;
    box-shadow: 0 0 10px $darkShade50;
}
.titel-card{
    margin-bottom: 15px;
}
.text-input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left:15px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    &::placeholder {
        color: $darkShade25;
    }

}
.birth,
.log-pass{
    margin-top: 15px;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-flex;
    cursor: pointer;
  }
  .text-toggle{
      padding-left: 20px;
      padding-top: 3px;
  }
  .toggle__input {
    display: none;
  }
  
  .toggle__fill {
    position: relative;
    min-width: 40px;
    height: 20px;
    border-radius: var(--border-radius);
    border:1px solid $darkShade25;
    transition: border 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill {
    border:1px solid $purple;
  }
  
  .toggle__fill::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 3px;
    left: 3px;
    background: $darkShade25;
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
    background: $gradientFirst;
    

  }
  
.enter_registr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
} 

.label{
    cursor: pointer;
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}
.radio-input{
    display: none;
}
.text-radio{
    position: relative;
    padding-left: 30px;
    color: $darkShade50;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $darkShade25;
        border-radius: 50%;
        top: 0;
        left: 0;
    }
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        background: $gradientFirst;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        opacity: 0;
    }
    
    
}
.radio-input:checked + .text-radio::after{
    opacity: 1;
}
.radio-input:checked + .text-radio::before{
    border: 1px solid $purple;
}
.radio-input:checked + .text-radio{
    color: $darkShade75;
}


.checkbox-input{
    display: none;
}
.text-checkbox{
    position: relative;
    padding-left: 30px;
    color: $darkShade50;
    display: block;
    max-width: 222px;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $darkShade25;
        border-radius: 4px;
        top: 0;
        left: 0;
    }
    &::after{
        content: "";
        position: absolute;
        display: block;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 8px;
        background-image: url(./../img/checkbox.svg);
        opacity: 0;
    }
}
.checkbox-input:checked + .text-checkbox::after{
    opacity: 1;
}
.checkbox-input:checked + .text-checkbox::before{
    border: 1px solid $purple;
}

.like__btn{
    display: flex;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $darkShade25;
    border-radius: 10px;
    cursor: pointer;
    &-icon{
        position: absolute;
        width: 10px;
        height: 10px;
        top: 4px;
        left: 5px;
    }
    &-count{
        width: 20px;
        height: 20px;
        font-size: 10px;
        padding-top: 3px;
        padding-bottom: 4px;
        padding-right: 10px;
        padding-left: 22px;
        line-height: 12px;
        color:$darkShade25;
    }
   
}
.like__btn.active{ 
    border: 1px solid $purple;
    border-radius: 10px;
    .like__btn-count{
        color:$purple;
    }
}

.rate{
    display: flex;
    cursor: pointer;
}
._materialstar{
    font-size: 24px;
    line-height: 20px;
    background:$gradientFirst;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
._materialstar_not_bg{
    font-size: 24px;
    line-height: 20px;
    background:$gradientFirst;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enter_card{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 358px;
    border-radius: 2px;
    box-shadow: 0 0 10px $darkShade25;
    justify-content: center;
    padding: 40px 30px 32px 30px;
    &-titel{
        margin-bottom: 20px;
    }
    .btn__praim-large{
        margin-top: 10px;
        margin-bottom: 30px;
    } 
    .text-input{
        width: 320px;
        margin-bottom: 10px;
    }
}
.wrapbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
