
<div class="registration">
  <h2 class="titel-card">Регистрация аккаунта</h2>
  <input class="text-input" type="text" name="first name" placeholder="Имя"/>
  <input class="text-input" type="text" name="last name" placeholder="Фамилия"/>
  <div class="sex"> 
    <label class="label">
      <input class="radio-input" type="radio" name="sex"/><span class="text-radio">Мужской</span>
    </label>
    <label class="label">
      <input class="radio-input" type="radio" name="sex"/><span class="text-radio">Женский</span>
    </label>
  </div>
  <h3 class="birth">Дата рождения</h3>
  <input class="text-input" type="text" name="date of birth" placeholder="ДД.ММ.ГГГГ"/>
  <h3 class="log-pass">Данные для входа в сервис</h3>
  <input class="text-input" type="email" name="email" placeholder="email"/>
  <input class="text-input" type="password" name="password" placeholder="password"/>
  <div class="toggle">
    <label class="toggle">
      <input class="toggle__input" type="checkbox" name="toggle" id="toggle"/>
      <div class="toggle__fill"></div>
      <div class="text-toggle">Получать спецпредложения</div>
    </label>
  </div><a class="btn__praim-large btn__praim-large-arrow" href="#">Перейти к оплате
    <div class="arrow__btn _materialarrow_input"></div></a>
  <div class="enter"> 
    <p>Уже есть аккаунт на Toxin</p><a class="btn__praim-small btn__praim-small-notbg" href="#">войти</a>
  </div>
</div>