include ../button/radio.pug
include ../inputs/text-input.pug
include ../button/toggle.pug
include ../button/btn__praim-large.pug
include ../button/btn__praim-small.pug
.registration
    h2.titel-card Регистрация аккаунта
    +text-input("text","first name","Имя")
    +text-input("text","last name","Фамилия")
    .sex 
        +radio("Мужской","sex")
        +radio("Женский","sex")
    h3.birth Дата рождения
    +text-input("text","date of birth","ДД.ММ.ГГГГ")
    h3.log-pass Данные для входа в сервис
    +text-input("email","email","email")
    +text-input("password","password","password")
    .toggle
        +toggle("Получать спецпредложения")
    +btn__praim-large("#","Перейти к оплате","arrow")
    div.enter_registr
        p Уже есть аккаунт на Toxin
        +btn__praim-small("#","войти","notbg")