
<div class="registration">
  <h2 class="titel-card">Регистрация аккаунта</h2>
  <input class="registration-input" type="text" placeholder="Имя"/>
  <input class="registration-input" type="text" placeholder="Фамилия"/>
  <div class="sex"> 
    <label class="label">
      <input class="radio-input" type="radio" name="radio"/><span class="text"></span>Мужской
    </label>
    <label class="label">
      <input class="radio-input" type="radio" name="radio"/><span class="text"></span>Женский
    </label>
  </div>
  <h3 class="birth">Дата рождения</h3>
  <input class="registration-input" type="text" name="date of birth" placeholder="ДД.ММ.ГГГГ"/>
  <h3 class="log-pass">Данные для входа в сервис</h3>
  <input class="registration-input" type="email" name="email" placeholder="email"/>
  <input class="registration-input" type="password" name="password" placeholder="password"/>
  <div class="togle">
    <input type="checkbox" name="togle" id="togle"/>
    <label for="togle">Получать спецпредложения</label>
  </div><a class="btn__praim-large btn__praim-large-arrow">Перейти к оплате<img class="arrow__btn" src="./img/arrow.svg" alt=""/></a>
  <div class="enter"> 
    <p>Уже есть аккаунт на Toxin</p><a class="btn__praim-small-notbg btn__praim-small">Войти</a>
  </div>
</div>