.container 
    footer.footer
        .footer__logo
            img.logo(src="./img/Logo.png")
            p.footer__logo-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer__nav 
            h3.footer__titel навигация
            li.footer__nav-item
                a.footer__nav-link(href="/") О нас
            li.footer__nav-item
                a.footer__nav-link(href="/") Новости
            li.footer__nav-item
                a.footer__nav-link(href="/") Служба поддержки
            li.footer__nav-item
                a.footer__nav-link(href="/") Услуги
            
        ul.footer__about
            h3.footer__titel О нас
            li.footer__nav-item
                a.footer__nav-link(href="/")  О сервисе
            li.footer__nav-item
                a.footer__nav-link(href="/") Наша команда
            li.footer__nav-item
                a.footer__nav-link(href="/") Вакансии
            li.footer__nav-item
                a.footer__nav-link(href="/") Инвесторы
                
        ul.footer__support
            h3.footer__titel Служба поддержки
            li.footer__nav-item
                a.footer__nav-link(href="/")  Соглашения
            li.footer__nav-item
                a.footer__nav-link(href="/") Сообщества
            li.footer__nav-item
                a.footer__nav-link(href="/") Связь с нами
        .footer__subscript
            h3.footer__titel Подписка
            p.footer__subscript-text Получайте специальные предложения и новости сервиса
            .input
                input.footer__subscript-input(type="email",placeholder="email", name="subscript-email")
                img.arrow-input(src=src="./img/arrow_input.svg", alt="")