.container
    header.header 
        .header__inner
                img.logo(src="./img/Logo.png")
                nav.nav
                    ul.menu
                        li.item.active 
                            a(href="/") О нас
                        li.item.akardion.first 
                            a(href="/") Услуги
                        li.item 
                            a(href="/") Вакансии
                        li.item 
                            a(href="/") Новости
                        li.item.akardion.second 
                            a(href="/") Соглашения
                    a.auth(href="/") Юлий Цезарь