header 
    .container
        .header__inner
                img.logo(src="./img/Logo.png")
                nav.nav
                    ul.menu
                        li.item.active О нас
                        li.item.akardion.first Услуги
                        li.item Вакансии
                        li.item Новости
                        li.item.akardion.second Соглашения
                    a.btn__praim-small.btn__praim-small-notbg войти
                    a.btn__praim-large зарегистрироваться