.container
    header.header 
        .header__inner
                img.logo(src="./img/Logo.png")
                nav.nav
                    ul.menu
                        li.menu__item 
                            a.menu__link.active(href="#") О нас
                        li.menu__item.akardion-first.akardion
                            a.menu__link(href="#") Услуги
                        li.menu__item 
                            a.menu__link(href="#") Вакансии
                        li.menu__item 
                            a.menu__link(href="#") Новости
                        li.menu__item.akardion-second.akardion
                            a.menu__link(href="#") Соглашения
                    a.btn__praim-small.btn__praim-small-notbg(href="#") войти
                    a.btn__praim-large(href="#") зарегистрироваться