include ./button/btn__praim-small.pug
include ./button/btn__praim-large.pug

.container
    header.header 
        .header__inner
                img.logo(src="./img/Logo.png")
                nav.nav
                    ul.menu
                        li.menu__item 
                            a.menu__link.active(href="#") О нас
                        li.menu__item.akardion-first.akardion
                            a.menu__link(href="#") Услуги
                        li.menu__item 
                            a.menu__link(href="#") Вакансии
                        li.menu__item 
                            a.menu__link(href="#") Новости
                        li.menu__item.akardion-second.akardion
                            a.menu__link(href="#") Соглашения
                    +btn__praim-small("#","войти","notbg")
                    +btn__praim-large("#","зарегестрироваться")