
<div class="container">
  <header class="header"> 
    <div class="header__inner"><img class="logo" src="./img/Logo.png"/>
      <nav class="nav">
        <ul class="menu">
          <li class="menu__item"> <a class="menu__link active" href="#">О нас</a></li>
          <li class="menu__item akardion-first"> 
            <div class="_materialakardion"></div><a class="menu__link" href="#">Услуги</a>
          </li>
          <li class="menu__item"> <a class="menu__link" href="#">Вакансии</a></li>
          <li class="menu__item"> <a class="menu__link" href="#">Новости</a></li>
          <li class="menu__item akardion-second">
            <div class="_materialakardion"></div><a class="menu__link" href="#">Соглашения</a>
          </li>
        </ul><a class="auth" href="#">Юлий Цезарь</a>
      </nav>
    </div>
  </header>
</div>