doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
        
    body 
        //- a.btn__praim-large ffff
        //-     img.arrow.arrow__btn(src="img/arrow.svg") 
        //- a.btn__praim-small ffff
        a.btn__praim-small.btn__praim-small-notbg ffff
        //- button.btn__circl.blue 1
        //- button.btn__circl.green 2